@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    font-family: "Outfit", serif;
    margin: 0;
    padding: 0;

}
body{
    background-color:hsl(212, 45%, 89%) ;
}
.cointainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: ;
}
.wrapper{
    background-color:hsl(0, 0%, 100%) ;
    height:484px;
    width: 315px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
img{
    height: 100px;;

}
.img{
    display: flex;
    justify-content: center;
}
.img img{
    height: 280px;
    width:280px;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 19px;
}
.title{
    height:56px;
    width: 248px;
    margin:0 auto ;
    margin-bottom: 9px;
}
.title p{
    font-size: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
   font-weight: 600;

}
.subtitle{
    height: 75px;
    width: 280px;
    text-align: center;
}
.subtitle p{
    font-size: 15px;
    color:hsl(216, 5%, 64%);
    width: 260px;
    text-align: center;
    margin-left: 25px;
}
